<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="3.2.1" targetFramework="net451" userInstalled="true" />
  <package id="PostSharp" version="4.1.13" targetFramework="net451" userInstalled="true" />
  <package id="PostSharp.Patterns.Diagnostics" version="4.1.13" targetFramework="net451" userInstalled="true" />
  <package id="PostSharp.Patterns.Diagnostics.NLog" version="4.1.13" targetFramework="net451" userInstalled="true" />
</packages>